@verde: #00a65a;
@atenuacion: #006e3c;
@contraste: #444242;
@gris: #D8D8D8;
@grisBoton: #585858;

html{
	height: 100%;
}

body{
	background: @gris;
	height: 100%;
	
	input::-webkit-input-placeholder {
		text-align: center;
	}

	input:-moz-placeholder { /* Firefox 18- */
		text-align: center;  
	}

	input::-moz-placeholder {  /* Firefox 19+ */
		text-align: center;  
	}

	input:-ms-input-placeholder {  
		text-align: center; 
	}
	
	.btn-success{
		background: @verde;
	}
	
	.btn-secondary{
		background: @grisBoton;
		color: white;
		
		&:hover{
			background: @grisBoton;
			color: white;
		}
	}
	
	.navbar{
		background: @verde;
		
		.navbar-brand{
			padding: 5px 5px;
			margin-top: 5px;
			
			.img-responsive{
				height: 100%;
			}
		}
		
		.navbar-text{
			margin-bottom: 7.5px;
			margin-top: 7.5px;
			a{
				color: white;
			}
		}
	}
	
	[panel]{
		display: none;
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
		background: @gris;
	}
	
	.leido{
		background: #F2F2F2;
	}
}


body[modulo="login"]{
	.navbar{	
		.navbar-brand{
			width: 100%;
			text-align: center;
			
			.img-responsive{
				height: 40px;
				display: inline;
			}
		}
	}
}

body[modulo="mensajes"]{
	overflow-y: hidden;
	
	#showMensajes{
		position: fixed;
		top: 65px;
		left: 25px;
	}
	
	.container{
		margin-top: 60px;
	}
	
	.listaMensajes{
		height: 80%;
		overflow:scroll;
	}
}